<app-navig></app-navig>
<br>
<div class="container">

  <div *ngIf="isShow" class="alert alert-primary" role="alert">
    Enviando Solicitud!
  </div>

  <h2>Amigos que quizás conozcas</h2>
  <div class="row p-3 mb-2 bg-gradient-dark text-white">
    <div class="container-fluid">
      <div  *ngFor="let element of lista">


        <div class="col-sm-6 col-md-4 col-lg-3" style=" padding-bottom: 25px !important">

          <div class="jumbotron">
            <h3 style="color: black;">{{element.usuario}}</h3>
            <img class="img-fluid" src={{element.foto}} >
            <button type="button" (click)="sendFriendRequest(element.usuario)" class="btn btn-primary"
            >ENVIAR <i class="fa fa-add"></i>
            </button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
