<app-navig></app-navig>
<br>
<div class="container">
    <div class="row p-3 mb-2 bg-gradient-dark">
        <div class="col-md-12">
            <div class="card" *ngFor="let item of listPost">
                <div class="row py-4 ps-4">
                    <div class="col col-xl-1 col-lg-1 col-md-2">
                        <div class="thumbnail">
                            <img src="{{item.userImage}}" alt="user" class="img-thumbnail" style="width:100%">
                        </div>
                    </div>
                    <div class="col">
                        <h6>{{item.user}}</h6>
                        <h6>{{item.date}}</h6>
                    </div>
                </div>
                <div class="ratio ratio-21x9">
                    <img src="{{item.img}}" alt="" class="card-img-top" *ngIf="isImg">
                </div>
                <div class="card-body">
                    <h5 class="card-text">{{item.publication}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>