<app-navig></app-navig>
<br>
<div class="container">
<div class="row p-3 mb-2 bg-gradient-dark text-white">
    <table class="table table-striped">
        <tr>
            <td>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{imageSrc}}" alt="{{imageAlt}}" class="img-thumbnail"  style="width:100%">
                        <div class="caption">
                          <p>{{imageAlt}}</p>
                        </div>
                    </div>
                </div>               
            </td>
            <td>
                <div class="form-group">
                    <label for="exampleFormControlInput1">USUARIO</label>
                    <input [(ngModel)]="user" class="form-control"id="exampleFormControlInput1" >
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput2">NOMBRE COMPLETO</label>
                    <input [(ngModel)]="name" class="form-control" id="exampleFormControlInput2" >
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput2">CONTRASEÑA ANTIGUA</label>
                    <input [(ngModel)]="passVerificar" type="password" class="form-control" id="exampleFormControlInput2" >
                    <button type="button" *ngIf="permitido" (click)="verificar()" class="btn btn-primary btn-sm" >VERIFICAR</button>&nbsp;
                </div>
                

                <div  *ngIf="verNuevaContra" class="form-group">
                    <label for="exampleFormControlInput4">CONTRASEÑA NUEVA</label>
                    <input type="password" [(ngModel)]="passNueva" class="form-control" id="exampleFormControlInput4" >
                </div>
                <br>
                <br>
                <div class="form-group">
                    <button type="button" *ngIf="!permitido" (click)="permitido = true" class="btn btn-primary btn-sm" >EDITAR</button>&nbsp;
                    <button type="button" *ngIf="verificado" (click)="guardar()" class="btn btn-success btn-sm" >GUARDAR</button>&nbsp;
                    <button type="button" *ngIf="permitido" (click)="cancelar()" class="btn btn-danger btn-sm" >CANCELAR</button>
                </div>
            </td>
        </tr>
    </table>
</div>
</div>