
<nav class="navbar navbar-dark bg-primary navbar-expand-md" >

  <ul class="navbar-nav mx-auto">
    <li class="nav-item active text-center">
      <a class="btn btn-outline-light" routerLink="/paginaInicio">INICIO</a>
    </li>&nbsp;
    <li class="nav-item text-center">
      <a class="btn btn-outline-light" routerLink="/subirFoto">SUBIR FOTO</a>
    </li>&nbsp;
    <li class="nav-item text-center">
      <a class="btn btn-outline-light" routerLink="/verFotos">VER FOTOS</a>
    </li>&nbsp;
    <li class="nav-item text-center">
      <a class="btn btn-outline-light" routerLink="/editarAlbum">EDITAR ALBUM(S)</a>
    </li>&nbsp;
    <li class="nav-item text-center">
      <button (click)="killSesion()" type="button" class="btn btn-outline-warning">CERRAR SESION</button>
    </li>
  </ul>
</nav>
