<nav class="navbar navbar-dark bg-primary navbar-expand-md">

  <ul class="navbar-nav mx-auto">
    <li class="nav_item text-center">
      <a class="btn btn-outline-light" routerLink="/viewPost">HOME</a>
    </li>
    <li class="nav-item active text-center">
      <a class="btn btn-outline-light" routerLink="/paginaInicio">PERFIL</a>
    </li>&nbsp;
    <li class="nav-item text-center">
      <a class="btn btn-outline-light" routerLink="/crearPublicacion">PUBLICAR</a>
    </li>&nbsp;
    <li class="nav-item text-center">
      <a class="btn btn-outline-light" routerLink="/aceptarSolicitud">ACEPTAR SOLICITUD</a>
    </li>&nbsp;
    <li class="nav-item text-center">
      <button (click)="killSesion()" type="button" class="btn btn-outline-warning">CERRAR SESION</button>
    </li>
  </ul>
</nav>